# Operating system files
.DS_Store
Thumbs.db
desktop.ini

# Editor folders
.vscode/

# PHP and web server
*.log
*.env

# Dependency folders
node_modules/
vendor/
dist/

# Mac metadata
.Spotlight-V100/
.Trashes/

# Temporary files
*.tmp
*.cache
vite-dev*.log
